<!DOCTYPE html>
<html>
<head>
    <title> {{uname}} | Profile </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/editprofile.css">
</head>
<body class='background' style="background-image: url(/images/park.jpg);">

		<div class="appName"> 			

			<img class="logo" src="/images/logo.jpg">
			<h1> Pets Playground </h1>
			
		</div>


		<nav id="header">	
			<a href="/homelogin/{{email}}">Home</a>
			<a href="/topsitterslogin/{{email}}">Top Sitters</a>
			<a href="/profile/{{email}}">Profile</a>
			<a href="/">Logout</a>
		</nav>


	<div class="uinfo">
		
		<p class="uheader1">Change Address</p> <br><br><br><br><br>

		<p class="uheader"> Current Address: {{address}} </p> <br>

		<form id="edit-profile" method="post">
			<input name="address" id="address" class="input-field" placeholder="Enter Address" type="text" required> <br><br>

			<input type="submit" class="edit-btn">

		</form>

		<br><br><br><br>

		<a href='/profile/{{email}}'>
			<button class="edit-btn"> Return </button>
		</a>



<!--
	<form id="edit-profile" method="post">
		<input name="uname" id="uname" class="input-field" placeholder="Enter Username" type="text" required> <br> <br>
        <input name="address" id="address" class="input-field" placeholder="Enter Address" type="text" required> <br> <br>
		<input name="pword" id="pword" class="input-field" placeholder="Enter Password" type="password" required> <br><br>	
		<input type="submit" class="edit-btn">
	</form>
-->

	</div>


</body>
</html>
